<tr>
  <div>
  	<div>
    	<strong>
      <%= User.find(user_comment.user_id).username %>
    	</strong> @ <%= user_comment.created_at %>
   	</div>
  	<div><%= user_comment.comment %></div>
  </div>
</tr>